
*{
    box-sizing: border-box;
}body{
    margin: 0;
    padding: 0;
    background: url("/img/photo-1594007654729-407eedc4be65.jpeg");
    background-attachment: fixed;
    background-size: cover;
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
    color: #fff;
}
.navigation-container{
    width: 100%;
    height: 60px;
    background-color: #8b1418;
    box-shadow: 2px 2px 12px rgba(0,0,0,0.2);
}
.navigation-content{
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 12%;
}
.cart img{
    height: 40px;
}
.menu ul{
    display: flex;
    padding-top: 7px;
    
}
.menu ul li a{
    padding: 0 30px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
    color: #fff;
}
.cart{
    display: flex;
    align-items: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
}
.cart a{
    color: #fff;
    margin: 0px 10px;
}
.content{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.first-row{
    display: flex;
}
.new{
    width: 540px;
    height: 320px;
    margin: 10px;
    background-color: #B1B1B1;
    background-image: url("/img/pizza1.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 5px;
}
.search,.order{
    width: 540px;
    height: 150px;
    margin: 10px;
    background-color: #B1B1B1;
    display: flex;
    flex-direction: column;
}
.search{
    background-image: url("/img/pizza3.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 5px;
}
.order{
    background-image: url("/img/pizza_.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 5px;
}
.find{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}
.search p{
    color: rgb(252, 252, 252);
    font-size: 30px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
    line-height: 0;
    text-shadow: 2px 2px 12px rgba(0,0,0,0.8);
}
.food-one,.food-two,.food-three{
    width: 354px;
    height: 35opx;
    margin: 10px;
    background-color: #B1B1B1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 5%;
    text-shadow: 2px 2px 12px rgba(0,0,0,0.2);
}
.food-one{
    background-image: url("/img/pizza_2.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 5px;
}
.food-two{
    background-image: url("/img/pizza3.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 5px;
}
.food-three{
    background-image: url("/img/piza11.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 5px;
    background-color: transparent;
}
.second-row{
    display: flex;
}
.flavor,.breakfast{
    width: 540px;
    height: 180px;
    margin: 10px;
    background-color: #B1B1B1;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 0px;
}
.flavor p:nth-child(1),.breakfast p:nth-child(1){
    color: #fff;
    font-weight: bold;
    font-size: 40px;
}
.flavor p:nth-child(2),.breakfast p:nth-child(2){
    font-size: 20px;
    color: rgba(255,255,255,.50);
    text-align: center;
}
.third-row{
    display: flex;
}
.new p{
    color: #ffffff;
    line-height: 50px;
    padding: 0;
    margin: 0;
}
.new p:nth-child(1){
    font-size: 40px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
}
.new p:nth-child(2){
    font-size: 30px;
    font-family: fantasy;
}
.new{
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.new button{
    width: 120px;
    height: 35px;
    border-radius: 10px;
    background-color:#8b1418;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 400;
    color: #fff;
    font-size: 16px;
    border: none;
    box-shadow: 2px 2px 12px rgba(0,0,0,0.2);
    outline: none;
}
button:active{
    transform:scale(1.1);
    transition: all ease .5s;
}
.text{
    background-color: #fff;
    border-radius:20px ;
	width:250px;
	height:35px;
	display:flex;
	justify-content:space-around;
	align-items:center;
	box-shadow:2px 2px 12px rgba(0,0,0,0.2);
}
.text input[type=search]{
    border: none;
    background-color: transparent;
    color: #000000;
    text-align: center;
    outline: none;
}
.search{
    display: flex;
    justify-content: center;
    align-items: center;
}
.text button{
    height: 35px;
    width: 100px;
    border: none;
    color: #0B0B0B;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
    outline: none;
    border-radius: 0px 20px 20px 0px;
}
.text button:hover{
    color: #8b1418;
    transition: all ease .5s;
}
.order{
    display: flex;
    justify-content: center;
    align-items: center;
}
.order a{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
    color: #fff;
    font-size: 40px;
    text-shadow: 2px 2px 12px rgba(0,0,0,0.1);
}
.name p{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #fff;
    line-height: 40px;
    margin: 0;
    padding: 0;
}
.name p:nth-child(1){
    font-weight: bold;
    font-size: 40px;
}
.name p:nth-child(2){
    font-weight: 200;
    font-size: 30px;
}
.price button{
color:#FFFFFF;
border:none;
background-color:transparent;
outline:none;
width:70px;
height:35px;
border-radius:20px;
background-color: #8b1418;
box-shadow:2px 2px 12px rgba(0,0,0,0.2);
}
.footer{
    background-color: #0A0A0A;
    height: 150px;
}
.social ul li a{
    padding: 15px;
}
.social img{
    height: 15px;
}
.footer-menu ul li a{
    border-left: 3px solid #2E2E2E;
    color: rgba(255,255,255,.80);
}
.navigation-content{
    border-bottom: 2px solid rgba(255,255,255,.10);
}
.copyright{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: fantasy;
    font-weight: 400;
    font-size: 12px;
    margin-top: 10px;
}
.copyright p{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #B9B9B9;
}
