@import url('https://fonts.googleapis.com/css2?family=Yellowtail&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Viaoda+Libre&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kalam&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Niconne&display=swap');
*{
    box-sizing: border-box;
}body{
    margin: 0;
    padding: 0;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}
.logo{
    color: wheat;
    font-family: 'Yellowtail', cursive;
    font-weight: 600;
    font-size: 23px;
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
    color: #fff;
}
.navigation-container{
    width: 100%;
    height: 60px;
    background-color: #8b1418;
    box-shadow: 2px 2px 12px rgba(0,0,0,0.2);  
}
.navigation-content{
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 12%;
}
.menu ul{
    display: flex;
    padding-top: 7px;
    padding-bottom: 10px;
}
.menu ul li a{
    padding: 0 30px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
    color: #fff;
}
.cart{
    display: flex;
    align-items: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
}
.cart a{
    color: #fff;
    margin: 0px 10px;
}
.content{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.first-row{
    display: flex;
}
.new{
    width: 540px;
    height: 320px;
    margin: 10px;
    background-color: #B1B1B1;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 5px;
    text-shadow: 2px 5px 5px slategray;
}
.order{
    width: 540px;
    height: 150px;
    margin: 10px;
    background-color: #B1B1B1;
    display: flex;
    flex-direction: column;
}
.order{
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 5px;
}
.find{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}
.food-one,.food-two,.food-three{
    width: 354px;
    height: 35opx;
    margin: 10px;
    background-color: #B1B1B1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 5%;
    text-shadow: 2px 2px 12px rgba(0,0,0,0.2);
}
.food-one{
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 5px;
    text-shadow: 2px 5px 5px slategray;
}
.food-two{
    background-size: cover;
    background-repeat: no-repeat;
    text-shadow: 2px 5px 5px slategray;
    border-radius: 5px;
}
.food-three{
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 5px;
    text-shadow: 2px 5px 5px slategray;
}
.second-row{
    display: flex;
}
.flavor,.breakfast{
    width: 540px;
    height: 180px;
    margin: 10px;
    background-color: #B1B1B1;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 0px;
}
.flavor{
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 5px;
    background-color: transparent;
    text-shadow: 2px 5px 5px slategray;
}
.flavor p,.breakfast p{
    color: #fff;
    font-weight: bold;
    font-size: 40px;
}
.flavor a, .breakfast a{
    text-decoration: none;
}
.breakfast{
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 5px;
    text-shadow: 2px 5px 5px slategray;
}
.third-row{
    display: flex;
}
.new p{
    color: #ffffff;
    line-height: 50px;
    padding: 0;
    margin: 0;
}
.new p:nth-child(1){
    font-size: 40px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
}
.new p:nth-child(2){
    font-size: 30px;
    font-family: fantasy;
}
.new{
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.new button{
    width: 120px;
    height: 20px;
    border-radius: 10px;
    background-color:#8b1418;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 400;
    color: #fff;
    font-size: 16px;
    border: none;
    box-shadow: 2px 2px 12px rgba(0,0,0,0.2);
    outline: none;
}
button:active{
    transform:scale(1.1);
    transition: all ease .5s;
}
.search{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
}
.search p{
    border-radius: 5px;
    text-shadow: 2px 5px 5px slategray;
    color:wheat;
    font-size: 70px;
    text-align: center;
    line-height: 50px;
    font-weight: bold;
    font-family: 'Yellowtail', cursive;
}

.order{
    display: flex;
    justify-content: center;
    align-items: center;
}
.order a{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
    color: #fff;
    font-size: 40px;
    text-shadow: 2px 2px 12px rgba(0,0,0,0.1);
}
.name p{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #fff;
    line-height: 40px;
    margin: 0;
    padding: 0;
}
.name p:nth-child(1){
    font-weight: bold;
    font-size: 40px;
}
.name p:nth-child(2){
    font-weight: 200;
    font-size: 30px;
}
.price button{
color:#FFFFFF;
border:none;
background-color:transparent;
outline:none;
width:70px;
height: 20px;
border-radius:20px;
background-color: #8b1418;
box-shadow:2px 5px 12px rgba(0,0,0,0.2);
}
.footer{
    height: 150px;
    border-radius: 5px;
    background-color: #0A0A0A;
}
.footer-menu ul li a{
    border-left: 3px solid #2E2E2E;
    border-right: 3px solid #2E2E2E;
    color: rgba(255,255,255,.80);
}
.col-sm-4 img{
    line-height: 30px;
}
.navigation-content{
    border-bottom: 2px solid rgba(255,255,255,.10);
}
.copyright{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: fantasy;
    font-weight: 400;
    font-size: 12px;
    margin-top: 10px;
}
.copyright p{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #B9B9B9;
}
/* contacts */
.container-fluid{
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    margin-left: 0;
    margin-right: 50px;
    align-items: center;
    text-align: center;
}
.container h1, h2{
    color: white;
    text-align: center;
    color: #ffffff;
    line-height: 50px;
    padding: 0;
    margin: 0;
    font-weight: bold;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 40px;
    text-shadow: 2px 5px 5px slategray;
}
.container h2{
    padding-top: 30px;
    padding-bottom: 10px;
}
.container h1{
    padding-top: 30px;
    padding-bottom: 20px;
}
.col-md-6 label{
    color: white;
    font-weight: bold;
    text-shadow: 2px 5px 5px slategray;
}
.container input,textarea{
    background-color: rgba(255, 255, 255, 0.315);
    border-radius: 5px;
    border: 10px 10px #4d0507;
}
::placeholder{
    color: #8b1418;
}
.container button{
    width: 120px;
    height: 35px;
    border-radius: 10px;
    background-color:#8b1418;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 400;
    color: #fff;
    font-size: 16px;
    border: none;
    box-shadow: 2px 5px 12px rgba(0,0,0,0.2);
    outline: none;
}
.container button:hover{
    color: #8b1418;
    background-color: #fff;
    text-decoration: none;
}
.container button a{
    text-decoration: none;
}
.container button a:hover{
    text-decoration: none;
    color: #8b1418;
}
/* about us */
.place p{
    margin-top: 10px;
    margin-bottom: 60px;
    border-radius: 5px;
    text-shadow: 2px 5px 5px slategray;
    color:wheat;
    font-size: 70px;
    text-align: center;
    line-height: 50px;
    font-weight: bold;
    font-family: 'Yellowtail', cursive;
    background-color: #c9141a;
    padding-top: 15px;
    padding-bottom: 20px;
}
.place h1{
    margin-top: 10px;
    margin-bottom: 40px;
    border-radius: 5px;
    text-shadow: 2px 5px 5px slategray;
    color:rgb(255, 251, 244);
    font-size: 40px;
    text-align: center;
    font-weight: bold;
    text-decoration: dotted underline;
    font-family: 'Yellowtail', cursive;
}
.about{
    background-color: #2e2e2e77;
    border-radius: 10px;
    padding-top: 20px;
    padding-bottom: 20px;
    font-weight: bold;
}
.about p{
    color: #fff;
    font-family: 'Kalam', cursive;
    font-size: 1.2rem;
    justify-content: space-between;
}
.about h4{
    font-size: 3rem;
    color: sandybrown;
    text-shadow: 2px 5px 5px slategray;
    font-family: 'Niconne', cursive;
}
.about img{
    height: 180px;
    width: 200px;
    background-position:center ;
    shape-outside: circle();
    margin: 20px;
    border-radius: 50%;
}
.location p{
    color: black;
    text-shadow: 2px 5px 5px #fff;
}

/* order */
.crust h2{
    text-decoration: underline dotted;
    font-family: cursive;
}
form{
    color: #fff;
    font-weight: bolder;
    background-color: #2e2e2e41;
    border-radius: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 1.2em;
    text-shadow: 2px 5px 5px slategray;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.form-group option{
    border-radius: 10px;
    background-color: rgba(255, 250, 250, 0.479);
}
